body{
    background-color: burlywood;
}
body div{
    width:100px;
    height:100px;
    background-color:greenyellow;
    margin-left: 600px;
    border-radius: 50px;
    text-align: center;
    

}